import React from "react"
import data from "../utils/Data"
import {
  DiHtml5,
  DiCss3,
  DiJavascript,
  DiJava,
  DiPhp,
  DiGit,
  DiReact,
  DiWordpress,
} from "react-icons/di"
import { IconContext } from "react-icons"

export default function about() {
  return (
    <div id="about" className="h-screen md:px-16 lg:px-32 lg:pt-40">
      <div className="bg-red-900 section block md:flex align-stretch  ">
        <div className="bg-teal-500 flex flex-col md:w-1/2">
          <div className="container px-6 pt-2 pb-12">
            <div id="about-txt">
              <h2 className="">Howdy,</h2>
              <p className="pt-4">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Molestiae accusantium minus, velit delectus voluptas voluptate
                quibusdam eaque! Omnis, voluptatum itaque? Quod reiciendis
                necessitatibus inventore cupiditate, sit alias obcaecati?
                Obcaecati, nostrum. Accusantium assumenda nostrum pariatur
                aspernatur temporibus eligendi voluptatum sunt dignissimos
                fugit! Blanditiis corporis laboriosam recusandae similique nemo
                impedit, debitis alias. Perspiciatis cumque vitae rem ab odit
                natus explicabo dolorem quam.
              </p>
            </div>
          </div>
        </div>

        <div className="bg-teal-900 flex flex-col  md:w-1/2">
          <div id="photo" className="container px-6 py-6 ">
            <div className="bg-white lg:mr-0 rounded-full w-64 h-64  shadow-lg m-auto "></div>
          </div>
        </div>
      </div>

      <div className="bg-green-600 section block flex flex-wrap items-stretch py-8 lg:py-0 md:px-16 lg:px-32">
        <div className="w-full container px-6">
          <h3 className="text-lg">Technologies I've worked with</h3>
          <div className="flex flex-row py-6">
            <IconContext.Provider value={{ color: "blue", size: "50px" }}>
              <div className="mx-6">
                <DiHtml5 />
              </div>
            </IconContext.Provider>
            <IconContext.Provider value={{ color: "blue", size: "50px" }}>
              <div className="mx-6">
                <DiCss3 />
              </div>
            </IconContext.Provider>
            <IconContext.Provider value={{ color: "blue", size: "50px" }}>
              <div className="mx-6">
                <DiJavascript />
              </div>
            </IconContext.Provider>
            <IconContext.Provider value={{ color: "blue", size: "50px" }}>
              <div className="mx-6">
                <DiReact />
              </div>
            </IconContext.Provider>
            <IconContext.Provider value={{ color: "blue", size: "50px" }}>
              <div className="mx-6">
                <DiWordpress />
              </div>
            </IconContext.Provider>
            <IconContext.Provider value={{ color: "blue", size: "50px" }}>
              <div className="mx-6">
                <DiJava />
              </div>
            </IconContext.Provider>
            <IconContext.Provider value={{ color: "blue", size: "50px" }}>
              <div className="mx-6">
                <DiPhp />
              </div>
            </IconContext.Provider>
            <IconContext.Provider value={{ color: "blue", size: "50px" }}>
              <div className="mx-6">
                <DiGit />
              </div>
            </IconContext.Provider>
          </div>
        </div>
      </div>
    </div>
  )
}
