@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@tailwind base;

@tailwind components;

* {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}
h2.text-3xl {
  font-size: 3rem;
}
p.text-xl {
  font-size: 1.5rem;
}
a {
  @apply text-teal-600 no-underline inline-block;
}

a:hover {
  @apply text-teal-700;
}

.bg-curacao {
  background-color: #30bcc9;
}

.layout {
  background-color: #2d2d44;
}

.bg-blueish {
  background-color: #3a4c71;
}

.text-blueish {
  color: #3a4c71;
  text-align: right;
}

.icon_contact {
  color: #b52b59;
  font-size: 32px;
}

.icon_tech {
  color: #b52b59;
  font-size: 50px;
}

.skull {
  font-size: 4rem;
}

#photo > div {
  background-image: url("../images/shaquil_maria.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.scroll {
  overflow: auto;
  white-space: nowrap;
}

.scroll::scrollbar {
  border-radius: 5%;
}

#navbar {
  display: block;
  position: absolute;
  width: 100%;
  left: -100%;
  z-index: 10;
}

.view {
  transform: translateX(100%);
  transition: 1.5s;
}

.hide {
  transform: translateX(-100%);
  transition: 1.5s;
}

@tailwind utilities;
